@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .smallBannerLuxury {
    @apply bg-gray-300 flex flex-col items-start px-5 pt-[20px];
  }

  .largeBannerLuxury {
    @apply absolute top-[130px] bg-white pl-[56px] pt-[50px] pr-[60px] max-w-[630px] rounded-2xl right-[80px];
  }
}

* {
  @apply p-0 m-0 box-border;
  font-family: ClashDisplay, sans-serif;
}

.swiper-pagination-bullet {
  @apply bg-white w-[12px] h-[12px] opacity-50 !important;
}

.swiper-pagination-bullet-active {
  @apply !opacity-100;
}

@font-face {
  font-family: "ClashDisplay";
  src: url("./assets/fonts/ClashDisplay-Variable.woff2") format("woff2");
  font-weight: 200 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src: url("./assets/fonts/Satoshi-Variable.woff2") format("woff2");
  font-weight: 300 900;
  font-display: swap;
  font-style: normal;
}
